#!/usr/bin/env xdg-open

[Desktop Entry]
Name=FreeCAD
Comment=bcclsn
Exec=/opt/freecad/FreeCAD_1.0.0-conda-Linux-x86_64-py311.AppImage
Icon=/home/bcclsn/.icons/icons/freecad_icon_new.svg
Terminal=false
Type=Application
Categories=Utility;Application;
MimeType=application/x-freecad;
Name[it_IT]=FreeCAD
